<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="SCD.DashboardPath" value="/sitecore/client/Your Apps/ComponentDownloader" />
    </settings>
    <commands>
      <command name="scd:downloader" type="Sitecore.Component.Downloader.Api.Commands.Downloader,Sitecore.Component.Downloader.Api"/>
    </commands>
  </sitecore>
</configuration>